<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<!-- sqlSessionFactory  -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<!-- 配置数据源  -->
		<property name="dataSource" ref="dataSource" /> 
		<!-- mybatis全局文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml" /> 
		<!-- 扫描mapper映射文件 -->
		<property name="mapperLocations" value="classpath:com/fiveplus/mapper/*.xml" />
		<!-- 配置别名包扫描  -->
		<property name="typeAliasesPackage" value="com.fiveplus.entity" />
		<property name="configurationProperties">
			<props>
				<!-- 这个配置使全局的映射器启用或禁用 缓存 -->
				<prop key="cacheEnabled">true</prop>
				<!-- 全局启用或禁用延迟加载。当禁用时, 所有关联对象都会即时加载 -->
                <prop key="lazyLoadingEnabled">false</prop> 
                <prop key="aggressiveLazyLoading">true</prop>
                
                <!-- 允许或不允许多种结果集从一个单独 的语句中返回(需要适合的驱动) -->
                <prop key="multipleResultSetsEnabled">true</prop>
                <!-- 使用列标签代替列名。 不同的驱动在这 方便表现不同。 参考驱动文档或充分测 试两种方法来决定所使用的驱动 -->
                <prop key="useColumnLabel">true</prop>
                <prop key="defaultExecutorType" >SIMPLE</prop>
				<!-- 设置超时时间, 它决定驱动等待一个数 据库响应的时间 -->
				<prop key="defaultStatementTimeout" >100</prop>
				<prop key="safeRowBoundsEnabled" >false</prop>
				<prop key="mapUnderscoreToCamelCase" >false</prop>
				<prop key="localCacheScope" >SESSION</prop>
				<prop key="jdbcTypeForNull" >OTHER</prop>
				<prop key="lazyLoadTriggerMethods" >equals,clone,hashCode,toString</prop>
			</props>
		</property>
	</bean>
	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.fiveplus.dao" />
	</bean>
	 
</beans>